<p id="notice"><%= notice %></p>

<h1>Messages</h1>

<% @messages.each do |message| %>
<div class="panel panel-default" style="max-width: 400px; margin: 30px auto">
  <div class="panel-heading"><%= message.title %> sent by <%= message.user.email %></div>
  <div class="panel-body">
    <%= message.body %><br>
    Sent <%= message.created_at %>
  </div>
</div>
<% end %>